.chemotionCarousel {
	display: flex;
	flex-direction: row;
}

.chemotionCarouselIcon {
	margin-inline: 1em;
	width: 180px;
}

.chemotionCarouselContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1em;
	position: relative;
}

.chemotionCarouselImage {
	align-self: center;
}

.chemotionCarouselDots {
	position: absolute;
	bottom: 5%;
}

.chemotionCarouselDot {
	background-color: rgba(146, 148, 151);
	border-radius: 25px;
	border: 0;
	opacity: 0.5;
	height: 10px;
	width: 10px;
	margin-inline: 0.1em;
}

.chemotionCarouselDotActive {
	background-color: var(--ifm-color-primary);
}

.chemotionCarouselDot:hover {
	opacity: 0.65;
}

@media screen and (max-width: 968px) {
	.chemotionCarousel {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.chemotionCarouselIcon {
		margin: 0.5em;
		width: 25%;
	}
}
