/********** Repo decision tree ************/

.cls1,
.cls2 {
    fill: #f2f2f2;
}

.cls3 {
    fill: #000;
    font-size: 18px;
}

.cls3,
.cls4 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
}

.cls2,
.cls5,
.cls6,
.cls7 {
    stroke-width: 0px;
}

.cls8 {
    clip-path: url(#clippath-2);
}

.cls9 {
    font-size: 21px;
}

.cls9,
.cls10 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
}

.cls9,
.cls11,
.cls4 {
    fill: #fff;
}

.cls5,
.cls10 {
    fill: #00617c;
}

.cls12 {
    clip-path: url(#clippath-1);
}

.cls13 {
    clip-path: url(#clippath-4);
}

.cls10 {
    font-size: 48px;
}

.cls11 {
    stroke: #7f7f7f;
}

.cls14 {
    clip-path: url(#clippath);
}

.cls15 {
    fill: none;
    stroke: #717171;
}

.cls16 {
    clip-path: url(#clippath-3);
}

.cls4 {
    font-size: 30px;
}

.cls6,
.cls17 {
    fill: #00617c;
}

.cls7 {
    fill: #f0f0f0;
}

.svglink:hover > * {
    fill: #e30613;
    transition-duration: 0.5s;
}

.svglink:hover > text {
    fill: white;
}

svg > a:hover {
    text-decoration: none;
}
