.features {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.featureSvg {
  padding: 5px;
  width: 150px;
  height: 150px;
  margin-top: 5px;
}
