/* Self-hosted IBM Plex Sans (subset) */

@font-face {
	font-family: "IBM Plex Sans";
	src: url('/fonts/ibm-plex-sans-latin-300-normal.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "IBM Plex Sans";
	src: url('/fonts/ibm-plex-sans-latin-300-italic.woff2') format('woff2');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "IBM Plex Sans";
	src: url('/fonts/ibm-plex-sans-latin-600-normal.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "IBM Plex Sans";
	src: url('/fonts/ibm-plex-sans-latin-600-italic.woff2') format('woff2');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}
