.FloatImage {
  width: min(120px, 50%);
  float: right;
  margin: 0px 20px 0px 20px;
}

Link > .FloatImage:hover {
  transform: scale(var(--n4c-hover-scale));
  transition: transform var(--n4c-transform-time) ease-in-out;
}
